service: igp-sismos
frameworkVersion: '4'

org: ljosue
app: igp-sismos-app

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  stage: dev
  iam:
    role: arn:aws:iam::529168894975:role/LabRole
  environment:
    DDB_TABLE: TablaSismosIGP

functions:
  ingestar:
    handler: handler_igp.lambda_ingestar
    timeout: 30
    memorySize: 256
    events:
      - httpApi:
          path: /igp/sismos/ingestar
          method: get
      # - schedule: rate(10 minutes)  # opcional

  listar:
    handler: handler_igp.lambda_listar
    timeout: 15
    memorySize: 256
    events:
      - httpApi:
          path: /igp/sismos/listar
          method: get

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: true
    slim: true
    layer: false

resources:
  Resources:
    TablaSismosIGP:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: TablaSismosIGP
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: code
            AttributeType: S
        KeySchema:
          - AttributeName: code
            KeyType: HASH
